/* body {
  padding-top: 40px;
  background-color: #dbe0e0;
  background-image: linear-gradient(rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
} */
body {
  margin: 0;
  padding: 0;
}
.about {
  background: blue;
  padding: 40px 30px 60px 30px;
}

li a {
  font-family: "Anton", sans-serif !important;
}

.hero_title {
  font-family: "Anton", sans-serif;
}

.nav-link1:hover {
  border-bottom: 2px solid rgb(51, 4, 238);
}





/*from chat gpt */
.nav-link:hover {
  color: #007bff; /* Change color on hover */
}
.navbar-brand:hover {
  color: #0056b3; /* Change brand color on hover */
}

/* nav-item1 a:hover {
  color: rgb(32, 199, 177);
}

nav-item1 a:active {
  color: #58b;
}
 */
